/***************** start darkmode colors *************************/
/***************** end darkmode colors *************************/
/***************** start light  colors *************************/
/***************** start darkmode colors *************************/
/***************** end darkmode colors *************************/
/***************** start light  colors *************************/
/*****************  You can add any color like this way ******/
[data-main="blue"] .chang_color, [data-main="blue"] nav .list li a:hover, nav .list li [data-main="blue"] a:hover, [data-main="blue"] .copyright p a, .copyright p [data-main="blue"] a {
  color: #468FC2 !important;
}

[data-main="blue"] .chang_backcolor, [data-main="blue"] .skills ul .item .progres .prog, .skills ul .item .progres [data-main="blue"] .prog, [data-main="blue"] .projects .head ul li a:hover, .projects .head ul li [data-main="blue"] a:hover, [data-main="blue"] footer .part_one a, footer .part_one [data-main="blue"] a, [data-main="blue"] .active_P_a {
  background: #468FC2 !important;
  color: #cac4c4 !important;
}

[data-main="blue"] .border, [data-main="blue"] header .social ul li a, header .social ul li [data-main="blue"] a, [data-main="blue"] .about .job, .about [data-main="blue"] .job, [data-main="blue"] .projects .head ul li a, .projects .head ul li [data-main="blue"] a {
  border: 1px solid #468FC2 !important;
}

[data-main="blue"] .border_top {
  border-top: 9px solid #468FC2 !important;
}

[data-main="blue"] .border_left_for_experience {
  border-left: 1px solid #468FC2;
}

[data-main="blue"] .box_shadow {
  -webkit-box-shadow: 0 0 15px 2px #468FC2;
          box-shadow: 0 0 15px 2px #468FC2;
}

[data-main="blue"] .portfolio_overlay {
  background: #468fc2e6;
}

[data-main="green"] .chang_color, [data-main="green"] nav .list li a:hover, nav .list li [data-main="green"] a:hover, [data-main="green"] .copyright p a, .copyright p [data-main="green"] a {
  color: #6ABF7A !important;
}

[data-main="green"] .chang_backcolor, [data-main="green"] .skills ul .item .progres .prog, .skills ul .item .progres [data-main="green"] .prog, [data-main="green"] .projects .head ul li a:hover, .projects .head ul li [data-main="green"] a:hover, [data-main="green"] footer .part_one a, footer .part_one [data-main="green"] a, [data-main="green"] .active_P_a {
  background: #6ABF7A !important;
  color: #cac4c4 !important;
}

[data-main="green"] .border, [data-main="green"] header .social ul li a, header .social ul li [data-main="green"] a, [data-main="green"] .about .job, .about [data-main="green"] .job, [data-main="green"] .projects .head ul li a, .projects .head ul li [data-main="green"] a {
  border: 1px solid #6ABF7A !important;
}

[data-main="green"] .border_top {
  border-top: 9px solid #6ABF7A !important;
}

[data-main="green"] .border_left_for_experience {
  border-left: 1px solid  #6ABF7A;
}

[data-main="green"] .box_shadow {
  -webkit-box-shadow: 0 0 15px 2px #6ABF7A;
          box-shadow: 0 0 15px 2px #6ABF7A;
}

[data-main="green"] .portfolio_overlay {
  background: #6ABF7Ae6;
}

[data-main="yellow"] .chang_color, [data-main="yellow"] nav .list li a:hover, nav .list li [data-main="yellow"] a:hover, [data-main="yellow"] .copyright p a, .copyright p [data-main="yellow"] a {
  color: #FFC107 !important;
}

[data-main="yellow"] .chang_backcolor, [data-main="yellow"] .skills ul .item .progres .prog, .skills ul .item .progres [data-main="yellow"] .prog, [data-main="yellow"] .projects .head ul li a:hover, .projects .head ul li [data-main="yellow"] a:hover, [data-main="yellow"] footer .part_one a, footer .part_one [data-main="yellow"] a, [data-main="yellow"] .active_P_a {
  background: #FFC107 !important;
  color: #cac4c4 !important;
}

[data-main="yellow"] .border, [data-main="yellow"] header .social ul li a, header .social ul li [data-main="yellow"] a, [data-main="yellow"] .about .job, .about [data-main="yellow"] .job, [data-main="yellow"] .projects .head ul li a, .projects .head ul li [data-main="yellow"] a {
  border: 1px solid #FFC107 !important;
}

[data-main="yellow"] .border_top {
  border-top: 9px solid #FFC107 !important;
}

[data-main="yellow"] .border_left_for_experience {
  border-left: 1px solid  #FFC107;
}

[data-main="yellow"] .box_shadow {
  -webkit-box-shadow: 0 0 15px 2px #FFC107;
          box-shadow: 0 0 15px 2px #FFC107;
}

[data-main="yellow"] .portfolio_overlay {
  background: #FFC107e6;
}

[data-main="palev"] .chang_color, [data-main="palev"] nav .list li a:hover, nav .list li [data-main="palev"] a:hover, [data-main="palev"] .copyright p a, .copyright p [data-main="palev"] a {
  color: #E83E8C !important;
}

[data-main="palev"] .chang_backcolor, [data-main="palev"] .skills ul .item .progres .prog, .skills ul .item .progres [data-main="palev"] .prog, [data-main="palev"] .projects .head ul li a:hover, .projects .head ul li [data-main="palev"] a:hover, [data-main="palev"] footer .part_one a, footer .part_one [data-main="palev"] a, [data-main="palev"] .active_P_a {
  background: #E83E8C !important;
  color: #cac4c4 !important;
}

[data-main="palev"] .border, [data-main="palev"] header .social ul li a, header .social ul li [data-main="palev"] a, [data-main="palev"] .about .job, .about [data-main="palev"] .job, [data-main="palev"] .projects .head ul li a, .projects .head ul li [data-main="palev"] a {
  border: 1px solid #E83E8C !important;
}

[data-main="palev"] .border_top {
  border-top: 9px solid #E83E8C !important;
}

[data-main="palev"] .border_left_for_experience {
  border-left: 1px solid  #E83E8C;
}

[data-main="palev"] .box_shadow {
  -webkit-box-shadow: 0 0 15px 2px #E83E8C;
          box-shadow: 0 0 15px 2px #E83E8C;
}

[data-main="palev"] .portfolio_overlay {
  background: #E83E8Ce6;
}

[data-main="red"] .chang_color, [data-main="red"] nav .list li a:hover, nav .list li [data-main="red"] a:hover, [data-main="red"] .copyright p a, .copyright p [data-main="red"] a {
  color: #DC3545 !important;
}

[data-main="red"] .chang_backcolor, [data-main="red"] .skills ul .item .progres .prog, .skills ul .item .progres [data-main="red"] .prog, [data-main="red"] .projects .head ul li a:hover, .projects .head ul li [data-main="red"] a:hover, [data-main="red"] footer .part_one a, footer .part_one [data-main="red"] a, [data-main="red"] .active_P_a {
  background: #DC3545 !important;
  color: #cac4c4 !important;
}

[data-main="red"] .border, [data-main="red"] header .social ul li a, header .social ul li [data-main="red"] a, [data-main="red"] .about .job, .about [data-main="red"] .job, [data-main="red"] .projects .head ul li a, .projects .head ul li [data-main="red"] a {
  border: 1px solid #DC3545 !important;
}

[data-main="red"] .border_top {
  border-top: 9px solid #DC3545 !important;
}

[data-main="red"] .border_left_for_experience {
  border-left: 1px solid  #DC3545;
}

[data-main="red"] .box_shadow {
  -webkit-box-shadow: 0 0 15px 2px #DC3545;
          box-shadow: 0 0 15px 2px #DC3545;
}

[data-main="red"] .portfolio_overlay {
  background: #DC3545e6;
}

[data-main="purple"] .chang_color, [data-main="purple"] nav .list li a:hover, nav .list li [data-main="purple"] a:hover, [data-main="purple"] .copyright p a, .copyright p [data-main="purple"] a {
  color: #6F42C1 !important;
}

[data-main="purple"] .chang_backcolor, [data-main="purple"] .skills ul .item .progres .prog, .skills ul .item .progres [data-main="purple"] .prog, [data-main="purple"] .projects .head ul li a:hover, .projects .head ul li [data-main="purple"] a:hover, [data-main="purple"] footer .part_one a, footer .part_one [data-main="purple"] a, [data-main="purple"] .active_P_a {
  background: #6F42C1 !important;
  color: #cac4c4 !important;
}

[data-main="purple"] .border, [data-main="purple"] header .social ul li a, header .social ul li [data-main="purple"] a, [data-main="purple"] .about .job, .about [data-main="purple"] .job, [data-main="purple"] .projects .head ul li a, .projects .head ul li [data-main="purple"] a {
  border: 1px solid #6F42C1 !important;
}

[data-main="purple"] .border_top {
  border-top: 9px solid #6F42C1 !important;
}

[data-main="purple"] .border_left_for_experience {
  border-left: 1px solid  #6F42C1;
}

[data-main="purple"] .box_shadow {
  -webkit-box-shadow: 0 0 15px 2px #6F42C1;
          box-shadow: 0 0 15px 2px #6F42C1;
}

[data-main="purple"] .portfolio_overlay {
  background: #6F42C1e6;
}

/****************************************   start defult color ****************************/
body {
  overflow-x: hidden;
}

/************************************************ start header  ****************************/
.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.logo span:first-of-type {
  color: #FFC107;
  margin-right: -5px;
}

nav {
  height: 10vh;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  line-height: 10vh;
}

nav .list {
  text-align: right;
}

@media (max-width: 767px) {
  nav .list {
    text-align: center;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 10vh;
    left: 0;
    overflow: hidden;
    display: none;
  }
}

@media (min-width: 768px) {
  nav .list {
    display: block;
  }
}

nav .list li {
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 767px) {
  nav .list li {
    display: block;
  }
}

nav .list li a {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

nav .list li a:hover {
  color: #FFC107;
}

@media (max-width: 767px) {
  nav .list li a {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}

nav .bars {
  position: absolute;
  top: 4px;
  right: 33px;
  display: none;
  font-size: 27px;
}

nav .bars i {
  cursor: pointer;
}

@media (max-width: 767px) {
  nav .bars {
    display: block;
  }
}

.black_background {
  background: #1b191b;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.active_a {
  color: #FFC107 !important;
}

header {
  background: url("../imgs/header/2.jfif");
  height: 100vh;
  background-size: cover;
  position: relative;
}

header .info {
  position: absolute;
  z-index: 99;
  padding-top: 200px;
  color: #FFFFFF;
}

header .info .middel .hi {
  text-align: left;
  font-weight: bold;
  color: #FFC107;
}

header .info .middel .iam {
  font-weight: bold;
  font-size: 40px;
}

header .info .middel .description {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .info .middel .description ul {
  position: relative;
  margin-left: 10px;
}

header .info .middel .description ul li {
  position: absolute;
  display: none;
  color: #FFC107;
}

header .info .middel .description ul .active {
  display: inline;
}

header .social {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 99;
}

header .social ul {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -150px;
}

header .social ul li {
  margin: 10px;
}

header .social ul li a {
  text-decoration: none;
  background: #FFF;
  padding: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .social ul li a:hover {
  background: #FFC107;
  cursor: pointer;
}

header .social ul li a:hover i {
  color: #f1f1f1 !important;
}

header .social ul li a i {
  color: #FFC107;
  font-size: 22px;
  margin-top: 6px;
}

header .control {
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  width: 190px;
  height: 290px;
  padding: 15px;
  background: #ffffffd1;
  right: -190px;
  top: 200px;
  z-index: 9999;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

header .control .setting {
  position: absolute;
  padding-top: 3px;
  left: -35px;
  top: 0;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}

@-webkit-keyframes rotat {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotat {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header .control .setting i {
  color: #fff;
  font-size: 25px;
  -webkit-animation: rotat 2.2s linear infinite;
  animation: rotat 2.2s linear infinite;
}

header .control h4 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .control span {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  overflow: hidden;
  margin: 15px 0;
  cursor: pointer;
}

header .control span:first-of-type {
  background: #fff !important;
  border: 2px solid #cac4c4;
  color: #333;
  width: 33px;
  height: 33px;
  margin-top: 5px;
}

header .control span:last-of-type {
  background: #333 !important;
  border: 2px solid #cac4c4;
  color: #fff;
  width: 33px;
  height: 33px;
  margin-top: 5px;
  margin-left: 5px;
}

header .control h3 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

header .control .list_color {
  margin-bottom: 0;
}

header .control .list_color li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}

header .control .list_color li:first-child {
  background: #468FC2;
}

header .control .list_color li:nth-child(2) {
  background: #6ABF7A;
}

header .control .list_color li:nth-child(3) {
  background: #FFC107;
}

header .control .list_color li:nth-child(4) {
  background: #E83E8C;
}

header .control .list_color li:nth-child(5) {
  background: #DC3545;
}

header .control .list_color li:nth-child(6) {
  background: #6F42C1;
}

header .control .reset {
  border: 1px solid #222;
  outline: none;
  margin: 5px;
  border-radius: 5px;
  padding: 2px 31px;
}

header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

/************************************************ end header  ****************************/
/************************************************ start about me   ****************************/
.about {
  background: #1B191B;
  color: #fff;
  padding: 60px 0;
}

.about .cont_img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 14px 0px #ffffff38;
          box-shadow: 0 0 14px 0px #ffffff38;
  padding: 25px;
}

.about .cont_img img {
  width: 100%;
  height: 100%;
}

.about .info {
  text-align: center;
  padding-top: 80px;
}

.about .info h1 {
  text-transform: capitalize;
}

.about .info h1 span {
  color: #FFC107;
}

.about .professional {
  margin-top: 40px;
  text-transform: capitalize;
}

.about .job {
  text-align: center;
  margin: 40px 0 0 0;
  padding: 15px 25px;
  background: #999;
  border-radius: 5px;
  color: #f1f1f1;
  font-weight: bold;
  border: 1px solid #FFC107;
}

/************************************************ end about me   ****************************/
/************************************************ start skills    ****************************/
.skills {
  padding: 80px 0;
  background: #252425;
}

.skills h1 {
  text-transform: uppercase;
  color: #FFFF;
}

.skills .big_titel {
  color: #f1f1f1;
  text-transform: capitalize;
  margin-left: 30px;
}

.skills ul {
  margin: 0 30px;
  margin-top: 50px;
}

.skills ul .item {
  height: 50px;
  display: block;
  margin-top: 15px;
}

.skills ul .item h5 {
  font-size: 13px;
  text-transform: capitalize;
  color: #cac4c4;
}

.skills ul .item .progres {
  width: 100%;
  height: 5px;
  background: #f1f1f19c;
  border-radius: 0;
  display: block;
  position: relative;
}

.skills ul .item .progres .prog {
  height: 5px;
  position: absolute;
  background: #FFC107;
}

.skills ul .item .progres .alert {
  width: 45px;
  padding: 0;
  text-align: center;
  position: absolute;
  top: -35px;
  background: #cac4c4;
  border-radius: 3px;
  font-size: 9px;
  font-weight: bold;
  background: #252425;
  border: 1px solid #cac4c4;
  color: #cac4c4;
}

.skills ul .item .progres .alert::before {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cac4c4;
  position: absolute;
  bottom: -5px;
  left: 7.5px;
}

/************************************************ end skills    ****************************/
/************************************************ start certifications ***************/
.certifications {
  padding: 100px 0;
  background: #1B191B;
  position: relative;
}

.certifications h1 {
  text-transform: capitalize;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.certifications #owl-demo .item {
  background: none;
  margin: 10px;
  padding: 10px;
  color: #888;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 250px;
}

.certifications #owl-demo .item .cont_img {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  height: 100%;
}

.certifications #owl-demo .item .cont_img:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.certifications #owl-demo .item .cont_img img {
  width: 100%;
  height: 100%;
}

.certifications #owl-demo .item .cont_img .overlay {
  position: absolute;
  text-decoration: none;
  padding: 15px;
  text-transform: capitalize;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.certifications #owl-demo .item .cont_img .overlay h6 {
  color: #fff;
  margin-bottom: 0;
}

.certifications .customNavigation {
  text-align: center;
}

.certifications .customNavigation a i {
  cursor: pointer;
  font-size: 25px;
}

.certifications .customNavigation .prev {
  position: absolute;
  top: 50%;
  left: 50px;
  color: #FFC107;
}

.certifications .customNavigation .next {
  position: absolute;
  top: 50%;
  right: 50px;
  color: #FFC107;
}

.certifications .customNavigation a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.certifications .owl-pagination {
  display: none;
}

/************************************************ end  certifications  ***************/
/************************************************ start projcts  ***************/
.projects {
  background: #252425;
  padding: 100px 0;
}

.projects h1 {
  color: #fff;
  text-transform: capitalize;
}

.projects .head {
  margin: 40px 0;
}

.projects .head ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .head ul li {
  margin: 0 10px;
}

.projects .head ul li a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px 25px;
  color: #fff;
  font-size: 18px;
  background: #1B191B;
  border-radius: 10px;
  border: 1px solid #FFC107;
}

@media (max-width: 767px) {
  .projects .head ul li a {
    padding: 8px;
  }
}

.projects .head ul li a:hover {
  background: #FFC107;
  color: #fff;
}

.projects .body .cont_img {
  width: 100%;
  height: 350px;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
}

.projects .body .cont_img:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.projects .body .cont_img img {
  width: 100%;
  height: 100%;
}

.projects .body .cont_img .overlay {
  position: absolute;
  text-decoration: none;
  padding: 15px;
  text-transform: capitalize;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.projects .body .cont_img .overlay h3 {
  color: #fff;
  margin-bottom: 0;
  font-size: 22px;
}

/************************************************ end  projcts  ***************/
/************************************************ start  intersts  ***************/
.intersts {
  padding: 100px 0;
  background: #1B191B;
  color: #fff;
}

.intersts h1 {
  text-transform: capitalize;
}

.intersts h3 {
  margin-top: 50px;
  color: #999;
  font-size: 25px;
}

.intersts h3:first-letter {
  text-transform: uppercase;
}

.intersts .cont_img {
  width: 100%;
  height: 260px;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.intersts .cont_img:hover .overlay {
  opacity: 1;
}

.intersts .cont_img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.intersts .cont_img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.intersts .cont_img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 0;
}

/************************************************ end  intersts  ***************/
/************************************************ start  contact us   ***************/
footer {
  padding: 50px 0;
  background: #252425;
  color: #FFF;
}

footer .part_one h1 {
  text-transform: capitalize;
}

footer .part_one p {
  font-size: 16px;
}

footer .part_one a {
  text-decoration: none;
  display: inline-block;
  width: 170px;
  padding: 10px 15px;
  background: #FFC107;
  color: #222;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

footer .part_one a:hover {
  opacity: .8;
  color: #999;
}

footer .part_two {
  margin-top: 40px;
}

footer .part_two h2 {
  text-transform: capitalize;
  font-size: 17px;
}

/************************************************ end contact us   ***************/
.copyright {
  padding: 20px 0 15px 0;
  background: #1B191B;
}

.copyright p {
  text-transform: capitalize;
  color: #fff;
}

.copyright p a {
  text-decoration: none;
  color: #FFC107;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.copyright p a:hover {
  opacity: .8;
}

.active_P_a {
  background: #FFC107 !important;
  color: #222 !important;
}
/*# sourceMappingURL=style.css.map */